/*.iws
/target/
/*/target/

/.idea/ant.xml
/.idea/compiler.xml
/.idea/dictionaries/anders.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/libraries/Maven__cglib_cglib_nodep_2_1_3.xml
/.idea/libraries/Maven__com_intellij_forms_rt_6_0_5.xml
/.idea/libraries/Maven__junit_junit_4_4.xml
/.idea/libraries/Maven__junit_junit_dep_4_4.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_1.xml
/.idea/libraries/Maven__org_jdave_jdave_core_1_1.xml
/.idea/libraries/Maven__org_jdave_jdave_junit4_1_1.xml
/.idea/libraries/Maven__org_jmock_jmock_2_4_0.xml
/.idea/libraries/Maven__org_jmock_jmock_legacy_2_4_0.xml
/.idea/libraries/Maven__org_objenesis_objenesis_1_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations/All_tests.xml
/.idea/runConfigurations/All_tests_with_coverage.xml
/.idea/runConfigurations/extformatter.xml
/.idea/vcs.xml
/.idea/workspace.xml